repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v1.3.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: debug-statements
  - id: flake8
- repo: https://github.com/pycqa/isort
  rev: 5.10.1
    hooks:
    - id: isort
      name: isort (python)
